.empty-block{
  display: block;
  height: 20vh;
}

/*4K and more */

@media (2560px < width) {
  .Skills {
    position: relative;
    font-family: Page-default-font;
  }
  .gun-image {
    border-radius: 50px;
    height: 65vh;
    width: 65vh;
  }

  .human {
    position: absolute;
    right: 0;
    height: 65vh;
    width: 65vh;
  }
}

/* L-laptops */

@media (1440px < width <= 2561px) {
  .Skills {
    position: relative;
    font-family: Page-default-font;
  }
  .gun-image {
    border-radius: 50px;
    height: 65vh;
    width: 65vh;
  }

  .human {
    position: absolute;
    right: 0;
    height: 65vh;
    width: 65vh;
  }
}

/* Large Laptop */

@media (1024px< width <=1441px) {
  .Skills {
    position: relative;
    font-family: Page-default-font;
  }
  .gun-image {
    border-radius: 50px;
    height: 65vh;
    width: 65vh;
  }

  .human {
    position: absolute;
    right: 0;
    height: 65vh;
    width: 65vh;
  }
}

/* Laptop */

@media (768px< width <=1025px) {
  .Skills {
    position: relative;
    font-family: Page-default-font;
  }
  .gun-image {
    border-radius: 50px;
    height: 40vh;
    width: 40vh;
  }

  .human {
    position: absolute;
    right: 0;
    height: 40vh;
    width: 40vh;
  }
}

/* Tablet */

@media (425px < width <=769px) {
  .Skills {
    position: relative;
    font-family: Page-default-font;
  }
  .gun-image {
    border-radius: 50px;
    height: 65vh;
    width: 65vh;
  }

  .human {
    position: absolute;
    right: 0;
    height: 65vh;
    width: 65vh;
  }
}

/* Phones */

@media (0px<= width <= 426px) {
  .Skills {
    position: relative;
    font-family: Page-default-font;
  }
  .gun-image {
    border-radius: 10px;
    height: 20vh;
    width: 20vh;
  }

  .human {
    position: absolute;
    z-index: 0;
    right: 0;
    height: 20vh;
    width: 20vh;
  }
}
