.empty-block {
  display: block;
  height: 20vh;
}

.human {
  position: absolute;
  right: 0;
  z-index: 0;
  background-color: transparent;
}

.Skills {
  position: relative;
  font-family: Page-default-font;
  font-size: 2rem;
}

/*4K and more */

@media (2560px < width) {
  .gun-image {
    border-radius: 50px;
    height: 65vh;
    width: 65vh;
  }

  .human {
    height: 65vh;
    width: 65vh;
  }
}

/* L-laptops */

@media (1440px < width <= 2561px) {
  .gun-image {
    border-radius: 50px;
    height: 65vh;
    width: 65vh;
  }

  .human {
    height: 65vh;
    width: 65vh;
  }
}

/* Large Laptop */

@media (1024px< width <=1441px) {
  .gun-image {
    border-radius: 50px;
    height: 65vh;
    width: 65vh;
  }

  .human {
    height: 65vh;
    width: 65vh;
  }
}

/* Laptop */

@media (768px< width <=1025px) {
  .gun-image {
    border-radius: 50px;
    height: 40vh;
    width: 40vh;
  }

  .human {
    height: 40vh;
    width: 40vh;
  }
}

/* Tablet */

@media (425px < width <=769px) {
  .gun-image {
    border-radius: 50px;
    height: 38vh;
    width: 38vh;
  }

  .human {
    height: 38vh;
    width: 38vh;
  }
}

/* Phones */

@media (0px<= width <= 426px) {
  .gun-image {
    border-radius: 10px;
    height: 18vh;
    width: 18vh;
  }

  .human {
    height: 18vh;
    width: 18vh;
  }
}
