/* Variables CSS*/
.Main {
  --pfpWidth: 40vh;
  --pfpMarginTop: 35vh;
}
@keyframes PageAnim {
  from {
    opacity: 0;
    left: -20vh;
  }
  30% {
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.Main {
  position: relative;
  animation: 1s PageAnim forwards;
}
@media (425px < width) {
  .Main-greeting {
    font-size: 5rem;
  }
  .Contact-footer {
    display: none;
  }
}

/* Phones */

@media (0px<= width <= 426px) {
  .Main-greeting {
    font-size: 2rem;
  }
  .Contact-footer {
    font-size: 0.7rem;
  }
}
