@font-face {
  font-family: Page-default-font;
  src: url("/public/Fonts/Poppins/Poppins-MediumItalic.ttf");
}
@font-face {
  font-family: Page-greeting-font;
  src: url("/public/Fonts/flokison-font/Flokison-WyEXv.otf");
}

body {
  padding: 0 3vh;
  font-family: Page-default-font;
}

a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

:root {
  --clr-dark: #000;
  --clr-light: #fff;
}

.light-mode {
  --clr-light: #000;
  --clr-dark: #fff;
}
* {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  scroll-behavior: smooth;
}
